<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <giftcard>
            <general>
                <enable1>1</enable1>
            </general>
            <code>
                <display_text>12</display_text>
            </code>
        </giftcard>
    </default>
</config>